.title {
}

.button {
  background: #0070f3;
  z-index: 1000;
  position: fixed;
  left: auto;
  border: none;
  bottom: 60px;
  padding: 14px 20px;
  color: white;
  border-radius: 14px;
  font-size: 16px;
}
