.mapillary_container,
.map_container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.4s ease;
}

.container_map {
  .mapillary_container {
    opacity: 0;
    z-index: 999;
  }
  .map_container {
    opacity: 1;
    z-index: 1000;
    transform: scale(1);
    filter: brightness(1);
  }
  .endscreen_container {
    transform: translateY(-800px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.container_mapillary {
  .mapillary_container {
    opacity: 1;
    z-index: 1000;
  }
  .map_container {
    opacity: 0;
    z-index: 999;
    transform: scale(1.5);
  }
  .middle_buttons {
    display: none;
  }
  .endscreen_container {
    transform: translateY(-800px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.container_endscreen {
  .map_container {
    filter: brightness(0.8);
    transition: 0.4s ease;
  }
  .endscreen_container {
    transform: translateY(0px);
    transition: 0.4s ease;
  }
}

.right_buttons {
  z-index: 1002;
  position: fixed;
  right: 100px;
  bottom: 60px;
}

.middle_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1001;
  bottom: 60px;
}
